
<div class="message-item">
  <div class="message other-message">
    <div class="nickName">
        <%- nickName -%> <%- time %>
    </div>
    <div class="text">
      <%- text %>
    </div>
  </div>
</div>
